In [12]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
# import all relevant libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
# To show the plot in the notebook itself instead of opening a new window for the plot
%matplotlib inline

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [13]:
# load dataset
df_train = pd.read_csv('./Data/train.csv')
df_test = pd.read_csv('./Data/test.csv')
# df = pd.read_csv('/kaggle/input/playground-series-s3e26/train.csv')

In [14]:
# To check data from training dataset
df_train.head()

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
0,0,999,D-penicillamine,21532,M,N,N,N,N,2.3,316.0,3.35,172.0,1601.0,179.80,63.0,394.0,9.7,3.0,D
1,1,2574,Placebo,19237,F,N,N,N,N,0.9,364.0,3.54,63.0,1440.0,134.85,88.0,361.0,11.0,3.0,C
2,2,3428,Placebo,13727,F,N,Y,Y,Y,3.3,299.0,3.55,131.0,1029.0,119.35,50.0,199.0,11.7,4.0,D
3,3,2576,Placebo,18460,F,N,N,N,N,0.6,256.0,3.50,58.0,1653.0,71.30,96.0,269.0,10.7,3.0,C
4,4,788,Placebo,16658,F,N,Y,N,N,1.1,346.0,3.65,63.0,1181.0,125.55,96.0,298.0,10.6,4.0,C

In [15]:
# To check data from Test dataset
df_test.head()

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,7905,3839,D-penicillamine,19724,F,N,Y,N,N,1.2,546.0,3.37,65.0,1636.0,151.90,90.0,430.0,10.6,2.0
1,7906,2468,D-penicillamine,14975,F,N,N,N,N,1.1,660.0,4.22,94.0,1257.0,151.90,155.0,227.0,10.0,2.0
2,7907,51,Placebo,13149,F,N,Y,N,Y,2.0,151.0,2.96,46.0,961.0,69.75,101.0,213.0,13.0,4.0
3,7908,2330,D-penicillamine,20510,F,N,N,N,N,0.6,293.0,3.85,40.0,554.0,125.55,56.0,270.0,10.6,2.0
4,7909,1615,D-penicillamine,21904,F,N,Y,N,N,1.4,277.0,2.97,121.0,1110.0,125.00,126.0,221.0,9.8,1.0

In [16]:
# to check details of training dataset
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7905 entries, 0 to 7904
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             7905 non-null   int64
 1   N_Days         7905 non-null   int64
 2   Drug           7905 non-null   object
 3   Age            7905 non-null   int64
 4   Sex            7905 non-null   object
 5   Ascites        7905 non-null   object
 6   Hepatomegaly   7905 non-null   object
 7   Spiders        7905 non-null   object
 8   Edema          7905 non-null   object
 9   Bilirubin      7905 non-null   float64
 10  Cholesterol    7905 non-null   float64
 11  Albumin        7905 non-null   float64
 12  Copper         7905 non-null   float64
 13  Alk_Phos       7905 non-null   float64
 14  SGOT           7905 non-null   float64
 15  Tryglicerides  7905 non-null   float64
 16  Platelets      7905 non-null   float64
 17  Prothrombin    7905 non-null   float64
 18  Stage          7905 non-null   float64
 19  Status         7905 non-null   object
dtypes: float64(10), int64(3), object(7)
memory usage: 1.2+ MB

In [17]:
# to check details of training dataset
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5271 entries, 0 to 5270
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             5271 non-null   int64
 1   N_Days         5271 non-null   int64
 2   Drug           5271 non-null   object
 3   Age            5271 non-null   int64
 4   Sex            5271 non-null   object
 5   Ascites        5271 non-null   object
 6   Hepatomegaly   5271 non-null   object
 7   Spiders        5271 non-null   object
 8   Edema          5271 non-null   object
 9   Bilirubin      5271 non-null   float64
 10  Cholesterol    5271 non-null   float64
 11  Albumin        5271 non-null   float64
 12  Copper         5271 non-null   float64
 13  Alk_Phos       5271 non-null   float64
 14  SGOT           5271 non-null   float64
 15  Tryglicerides  5271 non-null   float64
 16  Platelets      5271 non-null   float64
 17  Prothrombin    5271 non-null   float64
 18  Stage          5271 non-null   float64
dtypes: float64(10), int64(3), object(6)
memory usage: 782.5+ KB

In [18]:
# check the shape of training and test dataset
print('shape of training data set: ', df_train.shape)
print('shape of test data set: ', df_test.shape)

shape of training data set:  (7905, 20)
shape of test data set:  (5271, 19)

In [19]:
# train test split of dataset in python
from sklearn.model_selection import train_test_split

# Assuming 'df' is your DataFrame

# Splitting the DataFrame into features (X) and target variable (y)
X_train = df_train.drop('Status', axis=1)  
y_train = df_train['Status']  

X_test = df_test

# Splitting the data into train and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
# Lets separate Numerical and categorical columns to visualize properly
num_col = X_train.select_dtypes(include=np.number).columns.difference(['id'])
cat_col = X_train.select_dtypes(include=['object']).columns

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.compose import ColumnTransformer
from xgboost import XGBClassifier 
#import grid search cv for cross validation
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, classification_report, log_loss, make_scorer

In [22]:
# Create a dictionaries of list of models to evaluate performance with hyperparameters
models = { 
         # 'DecisionTreeClassifier' : (DecisionTreeClassifier(), {'criterion' : ['gini','log_loss'],'max_depth': [None, 5, 10,100], 'splitter': ['best', 'random']}),
          'RandomForestClass' : (RandomForestClassifier(), {'criterion' : ['gini','log_loss'],'n_estimators': [10,50,100, 1000], 'max_depth': [None, 5, 10 ]}),
         # 'AdaBoostClassifier' : (AdaBoostClassifier(), {'n_estimators': [1000], 'algorithm': ['SAMME', 'SAMME.R']}),
         # 'GradientBoostingClassifier' : (GradientBoostingClassifier(), {'criterion' : ['friedman_mse','squared_error'],'loss': ['log_loss' ], 'n_estimators': [1000]}),
          # 'XGBClassifier' : (XGBClassifier(), {'n_estimators': [10], 'learning_rate': [0.1, 0.01]}),          
          }


# Define the column transformer for preprocessing
preprocessing = ColumnTransformer(
    transformers=[
        ('numeric', StandardScaler(), num_col),  # Replace with actual numeric column names
        ('categorical', OneHotEncoder(), cat_col)  # Replace with actual categorical column name
        
    ])

LogLoss = make_scorer(log_loss, greater_is_better=False, needs_proba=True)

for name, (model, params) in models.items():
    # create a pipline
    # pipeline = GridSearchCV(model, params, cv=5)
    
    pipeline = Pipeline([
    ('preprocess', preprocessing),
    ('classify', GridSearchCV(model, params, cv=5, scoring = LogLoss))
    ])

    # fit the pipeline
    pipeline.fit(X_train, y_train)
    
    # make prediction from each model
    y_pred = pipeline.predict(X_test)
    
    y_pred_prob = pipeline.predict_proba(X_test)
    # print the performing metric
    # print Logloss

   # print(f"Log loss : {log_loss(y_test, y_pred_prob)}")
    # Calculate accuracy
    print(f"Model Name: {name}")
    print("Best Parameters: ", pipeline.named_steps['classify'].best_params_)
    print("Best Score: ", pipeline.named_steps['classify'].best_score_)
    print("Best Estimator: ", pipeline.named_steps['classify'].best_estimator_)
   # print(f"Model Name: {name}")
  #  accuracy = accuracy_score(y_test, y_pred)
   # print(f"Accuracy: {accuracy:.2f}")

    # Generate classification report
    # report = classification_report(y_test, y_pred)
    # print("Classification Report:\n", report) 
    # print('\n')

c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(
c:\Users\ishra\miniconda3\envs\python_ml\Lib\site-packages\sklearn\metrics\_classification.py:2922: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(

Model Name: RandomForestClass
Best Parameters:  {'criterion': 'log_loss', 'max_depth': None, 'n_estimators': 2000}
Best Score:  -0.4608812614440213
Best Estimator:  RandomForestClassifier(criterion='log_loss', n_estimators=2000)

In [23]:
y_pred

array(['C', 'C', 'D', ..., 'C', 'C', 'D'], dtype=object)

In [24]:
# lets predict the test file
y_pred_test = pipeline.predict_proba(df_test)

In [25]:
y_pred_test

array([[0.6375, 0.045 , 0.3175],
       [0.7555, 0.0925, 0.152 ],
       [0.1125, 0.034 , 0.8535],
       ...,
       [0.9595, 0.0075, 0.033 ],
       [0.983 , 0.0115, 0.0055],
       [0.41  , 0.045 , 0.545 ]])

In [26]:
result = pd.DataFrame(y_pred_test)

In [27]:
result

           0       1       2
0     0.6375  0.0450  0.3175
1     0.7555  0.0925  0.1520
2     0.1125  0.0340  0.8535
3     0.9380  0.0080  0.0540
4     0.6765  0.0795  0.2440
...      ...     ...     ...
5266  0.7865  0.1235  0.0900
5267  0.9155  0.0100  0.0745
5268  0.9595  0.0075  0.0330
5269  0.9830  0.0115  0.0055
5270  0.4100  0.0450  0.5450

[5271 rows x 3 columns]

In [28]:

result.index=df_test['id']

In [29]:
result

            0       1       2
id
7905   0.6375  0.0450  0.3175
7906   0.7555  0.0925  0.1520
7907   0.1125  0.0340  0.8535
7908   0.9380  0.0080  0.0540
7909   0.6765  0.0795  0.2440
...       ...     ...     ...
13171  0.7865  0.1235  0.0900
13172  0.9155  0.0100  0.0745
13173  0.9595  0.0075  0.0330
13174  0.9830  0.0115  0.0055
13175  0.4100  0.0450  0.5450

[5271 rows x 3 columns]

In [30]:
pipeline.classes_

array(['C', 'CL', 'D'], dtype=object)

In [31]:
result.columns

RangeIndex(start=0, stop=3, step=1)

In [32]:
result.columns = pipeline.classes_

In [33]:
result.columns = ['Status_C', 'Status_CL', 'Status_D']

In [34]:
result

       Status_C  Status_CL  Status_D
id
7905     0.6375     0.0450    0.3175
7906     0.7555     0.0925    0.1520
7907     0.1125     0.0340    0.8535
7908     0.9380     0.0080    0.0540
7909     0.6765     0.0795    0.2440
...         ...        ...       ...
13171    0.7865     0.1235    0.0900
13172    0.9155     0.0100    0.0745
13173    0.9595     0.0075    0.0330
13174    0.9830     0.0115    0.0055
13175    0.4100     0.0450    0.5450

[5271 rows x 3 columns]

In [35]:
result.to_csv('result.csv')

Submissions are evaluated using the multi-class logarithmic loss. Each id in the test set had a single true class label, Status. For each id, you must submit a set of predicted probabilities for each of the three possible outcomes, e.g., Status_C, Status_CL, and Status_D.

The metric is calculated


where 
 is the number of rows in the test set, 
 is the number of outcomes (i.e., 3),  
 is the natural logarithm, 
 is 1 if row 
 has the ground truth label 
 and 0 otherwise, and 
 is the predicted probability that observation 
 belongs to class 
.

The submitted probabilities for a given row are not required to sum to one because they are rescaled prior to being scored (each row is divided by the row sum). In order to avoid the extremes of the log function, predicted probabilities are replaced with